POSTGRES_DB=megaline
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password

DB_URL=jdbc:postgresql://database:5432/megaline
DB_USER=tu_usuario
DB_PASSWORD=tu_password
JDBC_DRIVER=org.postgresql.Driver

SQLALCHEMY_URL=postgresql://tu_usuario:tu_password@database:5432/megaline

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin